<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nao20010128nao.SpoofBrowser"
    android:versionCode="2"
    android:versionName="2.0" >
    <uses-sdk 
        android:minSdkVersion="8" 
        android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name" 
		android:hardwareAccelerated="true"
		android:configChanges="orientation|keyboardHidden">
        <!--<activity
            android:label="AppTestOnSpoofBrowser"
            android:name=".AppTestx"
			android:theme="@style/FullSize2">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
		<activity
            android:label="@string/name_trident"
            android:name=".v4.TridentActivity"
			android:theme="@style/FullSize2"
			android:icon="@drawable/ie"
			font="android_assert/meiyo.otf.zip">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/name_presto"
            android:name=".v4.PrestoActivity"
			android:theme="@style/FullSize2"
			android:icon="@drawable/opera">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/name_gecko"
            android:name=".v4.GeckoActivity"
			android:theme="@style/FullSize2"
			android:icon="@drawable/firefox">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity
            android:label="@string/name_chrome"
            android:name=".v4.ChromeActivity"
			android:theme="@style/FullSize2"
			android:icon="@drawable/chrome">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
